body{
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;

    /*Truque*/
    width: 940px;
    margin: auto auto;
    /*Truque para centralizar o body: uma largura fixa, a parte de cima pode ter qualquer valor e as laterais automaticas*/
}

figure{
    background-color: rgb(223, 223, 223);
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figure#centro-distribuicao{
    margin: auto auto;
    width: 550px;
}

figure#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
    margin-top: 0px;
    margin-right: 0px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

h1{
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p{
    padding: o;
    text-indent: 15px;
}

p::first-line{
    font-variant: small-caps;
}

h1 + p{
    text-indent: 0;
}

p::first-letter{
    font-weight: bold;
}

footer.rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

footer.rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}